<section class="dashboard">
  <div class="dashboard__container">
    <div class="dashboard__top">
      <h1>G-Scraper</h1>
      <p class="dashboard__top-para">Scrape data right off google!</p>
      <p class="dashboard__top-under-para">Keep scrolling to continue</p>
      <span class="dashboard__line"></span>
    </div>

    <div class="dashboard__head">
      <h3>Dashboard</h3>
      <form class="dashboard__file-form" action="/dashboard/upload-file" method="post" accept=".csv">
        <span> Upload a CSV file </span>
        <input type="file" name="file" class="dashboard__upload-file" />
        <button class="dashboard__submit-upload" type="submit"> Upload file </button>
        <p class="dashboard__success-msg">{{ success }}</p>
      </form>
    </div>

    <div class="dashboard__table">
      <h3> Results </h3>
      <ul class="dashboard__keywords">
        <li class="dashboard__item">Keyword 1</li>
        <li class="dashboard__item">Keyword 2</li>
        <li class="dashboard__item">Keyword 3</li>
      </ul>

      <div class="dashboard__results"></div>
    </div>
  </div>
</section>
