<section class="view-html">
  <div class="results__head">
    <a href="/results">&lsaquo; Go back</a>
    <h1> Raw HTML for {{ keyword }} </h1>
    <span class="results__line"></span>
  </div>
  <div class="view-html__wrapper">
    {{ rawHtml.html_of_page }}
  </div>
</section>
